/* fondo global en toda la página */
body {
    background: url(../imgs/fondo.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-pills .nav-link.active {
    background-color: #d1d5db;
    color: #1f2937;
}